footer {
    height: 60px;
    color: #c0c0c0;
    background-color: rgb(48, 48, 48);
    text-align: center;
    padding: 19px 7px;

    a {
        text-decoration: none;
        color: #c0c0c0;
    }

    a:hover {
        color: yellow;
        font-weight: 700;
    }
}