<div class="container py-2">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <mat-card>
                        <div class="border">
                            <mat-card-header>
                                <mat-card-title>
                                    <p>About Us</p>
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p>Welcome to the <strong>PNR Check!</strong> Our mission is to provide you with
                                    seamless access to your train booking details, ensuring a hassle-free travel
                                    experience. Whether you're a seasoned traveler or a first-time passenger, we've got
                                    you covered.</p>

                                <h1>What We Offer:</h1>
                                <ol>
                                    <li><strong>PNR Status Enquiry:</strong> Enter your 10-digit PNR number, which
                                        you'll find on the top left corner of your ticket, to check the current status
                                        of your reservation. We'll keep you informed about any updates, including
                                        confirmed bookings, waiting lists, and more</li>
                                    <li><strong>Eradicating Black Money:</strong> By embracing digitization and
                                        promoting a cashless economy, we contribute to the government of India's vision.
                                        Let's work together to eradicate black money and make travel transactions
                                        transparent.</li>
                                </ol>

                                <h1>Our Commitment:</h1>
                                <ul>
                                    <li><strong>- Accuracy:</strong> We strive to provide accurate and real-time
                                        information. Your PNR status matters to us, and we're here to assist you.</li>
                                    <li><strong>- User-Friendly Interface:</strong> Our website is designed for
                                        simplicity and ease of use. No complicated steps—just enter your PNR and get
                                        instant results.</li>
                                    <li><strong>- Security:</strong> Your privacy and data security are our top
                                        priorities. Rest assured that your information is handled with care.</li>
                                </ul>

                                <h1>Join Us on This Journey:</h1>
                                <p>As you embark on your train journey, trust us to be your reliable companion. Bookmark
                                    our website, and let's keep the wheels of travel turning!</p>
                                <p><strong>Book Train Ticket</strong> now and explore the vast Indian railway network.
                                </p>
                                <p>Remember, your journey begins with a PNR, and we're here to make it smoother. Happy
                                    travels! 🚂🌟</p>
                                <p><strong>Note: </strong> We're not officially affiliated with Indian Railway</p>
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>