<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <mat-card class="material-card">
                  <mat-card-header>
                    <mat-card-title>Trains Between Stations</mat-card-title>
                  </mat-card-header>
                <img mat-card-image src="./../../../assets/images/vande-bharat.jpg" alt="Photo of Vande Bharat Express">
                <!-- <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content> -->
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <mat-card class="material-card">
              <mat-card-header>
                <mat-card-title>Get Train Schedule</mat-card-title>
              </mat-card-header>
                <img mat-card-image src="./../../../assets/images/vande-bharat.jpg" alt="Photo of Vande Bharat Express">
                <!-- <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content> -->
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <mat-card class="material-card">
              <mat-card-header>
                <mat-card-title>Get Trains by Station</mat-card-title>
              </mat-card-header>
                <img mat-card-image src="./../../../assets/images/vande-bharat.jpg" alt="Photo of Vande Bharat Express">
                <!-- <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content> -->
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <mat-card class="material-card">
                <mat-card-header>
                  <mat-card-title>Live Train Status</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./../../../assets/images/vande-bharat.jpg" alt="Photo of Vande Bharat Express">
                <!-- <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content> -->
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>

