<main>
    <section class="hero">
        <h1>Indian Railway PNR status check</h1>
    </section>

    <section class="pnr-form">
        <div class="pnr-center">
            <h2>Check your PNR status, fast & easy</h2>
            <form [formGroup]="pnrForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter 10 Digit PNR</mat-label>
                        <input class="pnrBox" formControlName="pnrNum" matInput />
                        <mat-error *ngIf="pnrForm.controls.pnrNum.errors?.['maxlength'] || pnrForm.controls.pnrNum.errors?.['minlength']">Please enter valid 10 digit PNR number</mat-error>
                        <mat-error *ngIf="pnrForm.controls.pnrNum.errors?.['pattern']">Please enter numbers only</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="status-btn" mat-raised-button [disabled]="pnrForm.invalid">Check Status</button>
                </div>
            </div>
            </form>
            <p>Instructions: You can find the PNR number on your ticket.</p>
        </div>
        <app-loader *ngIf="isSubmitted" class="spinner"></app-loader>
    </section>
    <app-pnrinfo *ngIf="!pnrData"></app-pnrinfo>
    <app-result *ngIf="pnrData" [pnrData]="pnrData"></app-result>
    <app-services></app-services>
</main>
