.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.5em;
    text-shadow: 0px 0px 4px orange;
    width: 80%;
}

mat-error {
    color: #ffffff;
    font-weight: 500;
}

.pnr-form {
    position: relative;
}

.pnr-form button:disabled[type="submit"] {
    background-color: #959595;
    color:#e2e2e2;
}

.spinner{
    position: absolute;
    bottom: 3rem;
}