<div class="container mt-4">
    <div class="row">
        <div class="col">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>What is PNR?</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <strong>PNR</strong> stands for <strong>Passenger Name Record,</strong> is a unique 10 digit number which contains reservation details of passengers in Indian Railway. When a passenger buy any reservation ticket in Indian Railway, all details are stored in a centrailized database. These detail includes:<br>
                    <ul>
                        <li><strong>Passenger Details -</strong> Name, Age, Sex, ID details </li>
                        <li><strong>Train Details -</strong> Train Number, Train Name, Booking Status </li>
                        <li><strong>Payment Details -</strong> Ticket fare, Transaction details </li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>